<!DOCTYPE html>
<html>
<head>
  <title>Brett Bim | The Pixelated Version | <%= @title %></title>
  <%= render 'layouts/stylesheets' %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tag %>
<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

<!-- Google analytics -->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24039568-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
<!-- End Google Analytics -->
</head>
<body data-spy="scroll" data-offset="0" data-target="#navbar-main">
  <%= render 'layouts/header' %>
  <section>
    <div id="main">
      <%= yield %>
    </div>
    </section>
  <footer>
    <%= render 'layouts/footer' %>
  </footer>
</body>
</html>
